.arrow_box {
	position: relative;
	background: #525252;
	border: 4px solid #525252;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-top-color: #525252;
	border-width: 7px;
	left: 50%;
	margin-left: -7px;
}
.arrow_box:before {
	border-top-color: #525252;
	border-width: 13px;
	left: 50%;
	margin-left: -13px;
}
